<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="selenium.Listeners"/>
</listeners>
<listeners>
    <listener class-name="selenium.ExtentReportsListeners"/>
</listeners>

	<test name="Validating title in page">
		<classes>
			<class name="selenium.ValidateTitle" />
		</classes>
	</test>
	<test name="App Test">
		<classes>
			<class name="selenium.AppTest" />
		</classes>
	</test>
	<test name="Validating Navbar">
		<classes>
			<class name="selenium.ValidateNavBar" />
		</classes>
	</test>
	<test name="Validating User Login">
		<classes>
			<class name="selenium.HomePage" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
